div[data-angular-treeview] {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  text-decoration: none;
  border-bottom: 1px solid #E8E8E8;
}

div[data-tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: hidden;
}

div[data-tree-model] li {
  position: relative;
  padding: 0 0 0 10px;
  line-height: 40px;
  border-top: 1px solid #E8E8E8;
  cursor: pointer;
}

div[data-tree-model] li:hover:not(.open) {
  background: #F4FAFF;
}

div[data-tree-model] li.selected {
  background: #E3F2FA !important;
}

div[data-tree-model] li .expanded {
  padding: 1px 10px;
  background-image: url("../img/folder.png");
  background-size: 16px;
  background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
  padding: 1px 10px;
  background-image: url("../img/folder.png");
  background-size: 16px;
  background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
  padding: 1px 10px;
  background-image: url("../img/file.png");
  background-size: 16px;
  background-repeat: no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
  cursor: pointer;
}
