apiVersion: v1
clusters:
- cluster:
    server: http://127.0.0.1:8080
  name: default
- cluster:
    insecure-skip-tls-verify: true
    server: https://159.203.97.80:6443
  name: kmachine
contexts:
- context:
    cluster: default
    user: ""
  name: default
- context:
    cluster: ""
    user: ""
  name: foobar
- context:
    cluster: kmachine
    user: kuser
  name: kmachine
current-context: kmachine
kind: Config
preferences: {}
users:
- name: kuser
  user:
    token: abcdefghijkl
