<div class="main" data-ng-controller="kuiListController">

    <section class="product-item">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2 class="h2-title">My Pods</h2>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="podLoaded">
                <div class="col-sm-4">
                    <div class="widget">
                        <div class="widget-title">
                            <h3>widget title</h3>
                        </div>
                        <div class="widget-content"><a href="" class="widget-img"><img src="img/docker.png"
                                                                                       alt=""/></a>

                            <p class="desc_title"><b>Description</b> : <span class=""> {{pods}} </span></p>

                            <p class="desc_title"><b>Status</b> : <span class="">status </span></p>
                        </div>
                        <div class="widget-action text-right"><a ng-click="startContainer(container)" class=""
                                                                 title="start"> <i
                                class="fa fa-play"></i></a> <a ng-click="stopContainer(container)" class=""
                                                               title="stop"> <i class="fa fa-stop"></i></a>
                            <a ng-click="deleteContainer(container)" class="" title="delete"> <i
                                    class="fa fa-trash"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

